body {
  background-color: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  align-items: center;
}
.new-match-container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
